<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <a href="">back</a>
    <form action="?" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password1" placeholder="password">
        <input type="password" name="password2" placeholder="password check">
        <input type="text" name="store_id" placeholder="store id">
        <button>submit</button>
    </form>
</body>

</html>